<h1>Create a Landmark</h1>

<form action="/landmarks" method="post">
  <label>Name:</label>

  <br></br>

  <input type="text" name="landmark[name]" id="landmark_name">

  <br></br>

  <label>Year Completed:</label>

  <br></br>

  <input type="number" name="landmark[year_completed]" id="landmark_year_completed">

  <br></br>

  <input type="submit" value="Create New Landmark">
</form>
