<h1><%= @figure.name %></h1>

<h3>Titles:</h3>

<% @figure.titles.each do |title| %>
  <p><%= title.name %></p>
<% end %>

<h3>Landmarks:</h3>

<% @figure.landmarks.each do |landmark| %>
  <h4><%= landmark.name %></h4>
  <p><%= landmark.year_completed %></p>
<% end %>
